<h1>{{ title }}</h1>
<p>
	{{ message }}
</p>
{% if score.points > 0 %}
	<p>Du har lyckats tjäna in {{ score.points }} poäng</p>
	<a href="{{ url('app_detail', {score: score.id}) }}">Läs mer här</a>
{% else %}
	<p>Du har tappat {{ score.points }} poäng</p>
	<p><a href="{{ url('app_detail',{score: score.id}) }}">Här kan du läsa mer om dina
			synder</a></p>

{% endif %}